<p style="color: green"><%= notice %></p>

<%= render @client %>

<div class="btn-group">
  <%= link_to '<button class="btn btn-primary">Editar</button>'.html_safe, edit_client_path(@client) %>
  <%= link_to '<button class="btn btn-dark">Voltar</button>'.html_safe, clients_path %>

  <%= button_to "Deletar", @client, method: :delete, class: "btn btn-danger" %>
</div>
